<app-navbar></app-navbar>
<div class="flex flex-col h-screen">
    <div class="mt-10 justify-center m-auto">
        <div *ngIf="categories.length > 0" class="items-start justify-center m-auto p-9 flex-grow">
            <div class="px-4 sm:px-0 mb-11">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Choose a category -</h3>
            </div>
            <div class="inline-grid grid-cols-3 gap-4">
                <div *ngFor="let category of categories">
                    <app-game 
                        [category]="category">
                    </app-game>
                </div>
            </div>
        </div>
        <div *ngIf="categories.length == 0" class="items-start justify-center m-auto max-w-3xl p-9 flex-grow">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900 mb-4">There are no categories</h3>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>