<app-navbar></app-navbar>
<div class="flex items-stretch mt-10 justify-center">
    <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6 bg-gray-800 text-white">
            <div class="grid grid-flow-col gap-3">
                <div class="col-span-2">
                    <h3 class="text-lg font-medium leading-6">Welcome to Quizz!</h3>
                    <p class="mt-2 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate
                        elit vitae viverra suscipit.</p>
                </div>
                <div class="col-span-2">
                    <img class="w-20 h-20 ml-4" src="../../../../assets/images/studying.png">
                </div>
            </div>
        </div>
        <div class="px-4 py-3 bg-gray-100 text-right sm:px-6">
            <a class="text-gray-400" href="https://www.flaticon.com/free-stickers/person" title="person stickers">Person
                stickers created by Stickers - Flaticon</a>
            <br>
            <a class="text-gray-400" href="https://www.flaticon.com/free-stickers/studying"
                title="studying stickers">Studying stickers created by Stickers - Flaticon</a>
                <br>
            <a class="text-gray-400" href="https://www.flaticon.com/free-stickers/compass"
                title="compass stickers">Compass stickers created by Gohsantosadrive - Flaticon</a>
        </div>
    </div>
</div>